
.projectMemberPage{
    min-height: 75vh;
}

.projectMemberTittle{
    font-family: 'Poppins', sans-serif;
    color: black;
    border-bottom: solid 2px black;
    margin-bottom: 2rem;
}

.projectMemberSidebarCenter{
    align-items: center;
    justify-content: center;
}
