
.projectUpdatesPage{
    min-height: 75vh;
}

.projectUpdatesTittle{
    font-family: 'Poppins', sans-serif;
    color: black;
    border-bottom: solid 2px black;
    margin-bottom: 2rem;
}

.projectUpdatesSidebarCenter{
    align-items: center;
    justify-content: center;
}
