
.profileMyApplication{
    min-height: 75vh;
}

.profileMyApplicationTittle{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border-bottom: solid 1px black;
    margin-bottom: 2rem;
}