
.projectTaskPage{
    min-height: 75vh;
}

.projectTaskTitle{
    font-family: 'Poppins', sans-serif;
    color: black;
    border-bottom: solid 2px black;
    margin-bottom: 2rem;
}

.projectTasksSidebarCenter{
    align-items: center;
    justify-content: center;
}

.projectTaskTitleSeparator{
    font-family: 'Poppins', sans-serif;
    border-bottom: solid 1px black;
}